a.services-list__link {
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.45px;
  text-decoration: none;
  position: relative;
  top: -5px;
  left: 12px;

  &:hover {
    color: #073f8e;
    text-decoration: underline;
  }
}