.category-date__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &.category-date__item_active {
    .category-date__link {
      color: #3182eb;
      font-weight: bold;
    }
  }
}