@import "__text/citation__text.scss";

.citation {
  position: relative;
  width: 100%;
  padding: 82px 0;
  margin-top: 30px;
  background-color: #f7f6f6;
  background-image: url('../../img/citation/quotes.png');
  background-repeat: no-repeat;
  background-position: center;
}