.services__heading {
  color: #2f2f2f;
  font-size: 16px;
  line-height: 27px;
  position: relative;

  &:after {
    content: '';
    width: 127px;
    height: 1px;
    background-color: #c2c2c2;
    position: absolute;
    right: -176px;
  }
}