@import "__item/services-list__item.scss";
@import "__link/services-list__link.scss";

.services-list {
  margin: 0;
  padding-left: 25px;
  list-style-image: url("../../../img/icons/icon-list.svg");
}