$default-font: "Montserrat", sans-serif;

$grid-gutter-width: 34px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1339px);

$gutter: $grid-gutter-width;