@import "vars";
@import "fonts";
@import "vendor";

::selection {
  color: #fff;
  background-color: #367ee3;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
}

h2 {
  margin: 0;
  color: #2f2f2f;
  font-family: "ArialMT";
  font-size: 44px;
  font-weight: bold;
  line-height: 32.31px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

a.site-button__more {
  color: #646463;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.45px;
  text-decoration: none;
  position: relative;
  margin-left: 20px;

  img {
    margin-left: 29px;
  }

  span {
    z-index: 5;
    position: relative;
  }

  &::before {
    position: absolute;
    top: -15px;
    margin-left: -20px;
    content: '';
    width: 72px;
    height: 53px;
    vertical-align: middle;
    margin-right: -54px;
    display: inline-block;
    background-color: #eaf1fb;

    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -ms-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
    opacity: 0.99;
  }

  &:hover {
    &::before {
      width: 137px;
    }
  }
}

/*

====== Zoom effect ======

*/
.mfp-zoom-in {

  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {

    .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }

  }

}

.mfp-close,
.mfp-close:active,
.mfp-close:focus,
.mfp-close:hover {
  opacity: 1;
}

.mfp-close-btn-in .mfp-close {
  color: #367ee3;
}


.popup-base {
  max-width: 552px;
  position: relative;
  background-color: #f5f5f5;
  margin: auto;
  padding-top: 89px;
  padding-bottom: 100px;

  background-image: url('../img/popup-mask.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.popup__headline {
  color: #2f2f2f;
  font-family: 'ArialMT';
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.6px;
  text-align: center;
  text-transform: uppercase;
}

.popup__lead {
  color: #6a6a6a;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.popup__form {
  max-width: 373px;
  margin: 28px auto 0 auto;
  display: flex;
  flex-direction: column;
}

.popup__input {
  width: 100%;
  height: 53px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  padding-left: 22px;
  margin-bottom: 24px;

  &::placeholder {
    color: #9e9d9d;
    font-size: 14px;
    line-height: 24px;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

.popup__info {
  color: #6a6a6a;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 15px;
}

.popup__submit {
  min-width: 208px;
  height: 53px;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #367ee3;
  margin: 0 auto;

  &:hover {
    border: 1px solid #386caf;
    background-color: #3b84e9;
  }
}

.hamburger {
  display: none;
  padding-top: 10px;
  margin-left: 41px;
  z-index: 100;
}

.radio-btn {
  display: flex;
  align-items: center;

  .radio-btn__style {
    position: relative;

    &::before {
      content: '';
      width: 14px;
      height: 14px;
      border: 1px solid #cccccc;
      background-color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      left: -15px;
      top: -7px;
      bottom: 0;
      right: 0;
      cursor: pointer;
      pointer-events: none;
    }

    &:after {
      content: '';
      width: 6px;
      height: 6px;
      background-color: #073f8e;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      left: -11px;
      right: 0;
      top: -3px;
      bottom: 0;
      opacity: 0;
    }
  }

  label {
    margin: 0;
  }

  input {
    width: 14px;
    height: 14px;
    opacity: 0;
    outline: none;
    &:checked + .radio-btn__style {
      &:after {
        opacity: 1;
      }
    }
  }
}

.breadcrumb {
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 2px;
  margin-bottom: 0;

  a {
    color: #1c53a2;
    text-decoration: none;
  }
  .breadcrumb-item {
    &.active {
      color: #b5b5b5;
    }
  }
}

.page__heading {
  margin-bottom: 63px;

  &.page__heading_no-gutter {
    margin-bottom: 31px;
  }
}

.content {
  .services__row:last-child {
    border-bottom: none;
  }
}

.btn.btn-inner {
  color: #073f8e;
  border-color: #073f8e;

  &:hover {
    color: #fff;
    background-color: #073f8e;
  }
}

.project-load-more {
  color: #646463;
  font-size: 12px;
  font-weight: 400;
  line-height: 32.31px;
  letter-spacing: 0.6px;
  cursor: pointer;
  margin-bottom: 131px;

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -ms-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
  
  &:hover {
    color: rgb(7, 63, 142);
  }
  
  img {
    width: 11px;
    margin-left: 8px;
  }
}

.page-content {
  p {
    color: #2f2f2f;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 48px;
  }
}

@import "header/header";
@import "banner/banner";
@import "working-success/working-success";
@import "services/services";
@import "about-us/about-us";
@import "our-clients/our-clients";
@import "callback/callback";
@import "footer/footer";
@import "substrate/substrate";
@import "services-content/services-content";
@import "project-item/project-item";
@import "category-date/category-date";
@import "page-navigation/page-navigation";
@import "page-section/page-section";
@import "citation/citation";

@import "media";