.our-clients-slider__image {
  filter: grayscale(100%);
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -ms-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}