@import "__lead/about-us__lead.scss";
@import "__text/about-us__text.scss";
@import "__image/about-us__image.scss";

.about-us {
  padding-top: 121px;
  padding-bottom: 123px;

  h2 {
    margin-bottom: 57px;
  }
}